section#middle {
  color: 1;
}
section#middle div.wrap {
  color: 1;
}
section#middle div.wrap article {
  color: 1;
}
section#middle div.wrap article h2 {
  color: 1;
}
section#middle div.wrap article p {
  color: 1;
}
section#middle div.wrap article ul {
  color: 1;
}
section#middle div.wrap article ul li.filter {
  color: 1;
}
section#middle div.wrap article ul li.filter h3 {
  color: 1;
}
section#middle div.wrap article ul li.filter p {
  color: 1;
}